* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-weight: 400;
    font-family: Lexend Deca;
    
}

main {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sedan {
    background-color: hsl(31, 77%, 52%);
    color: white;
    height: 400px;
    padding: 1rem;
}

.suv {
    background-color: hsl(184, 100%, 22%);
    color: white;
    height: 400px;
    padding: 1rem;
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    color: white;
    height: 400px;
    padding: 1rem;
}

h1 {
    padding-top: 1rem;
}

p {
    padding-top: 3rem;
    padding-bottom: 6rem;
}

button {
    border-radius: 20px;
    padding: 10px;
    border: 1px;
    letter-spacing: 1px;
}